<!---// File Name : app.js
//  Student Name : Devanshi Shah
//    Student Id   : 301175169
//    Date         : 13 -02 -2021 --->

 <!---Bottom Content-->
  <footer>
    <nav class="navbar navbar-dark bg-dark">
     <li><span style="color: black;">
     <a href ="https://www.instagram.com/devanshi_0703/?hl=en"><span><i class="fab fa-lg fa-instagram"></i></span></a>
      <a href ="https://twitter.com/Devansh99262833"><span><i class="fab fa-lg fa-twitter"></i></span></a>
      <a href ="https://www.linkedin.com/in/devanshi-shah-9a373b202/"><span><i class="fab fa-lg fa-linkedin"></i></span></a>
      <a href ="https://www.facebook.com/devanshi.shah.7165/"><span><i class="fab fa-lg fa-facebook"></i></span></a></li>
      <h6 class="display-6 navbar-text">&copy; Copyright February 2021. All Rights reserved.</h6>
    </nav>
  </footer>