 <!---// File Name : app.js
//  Student Name : Devanshi Shah
//    Student Id   : 301175169
//    Date         : 13 -02 -2021 --->

 <!--Script Section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>

</body>
</html>