 <!---Bottom Content-->
  <footer>
    <nav class="navbar navbar-dark bg-dark">
     <li><a href="#"><span style="color: black;"><i class="fab fa-lg fa-instagram"></i> <i class="fab fa-lg fa-twitter"></i> <i class="fab fa-lg fa-linkedin"></i> <i class="fab fa-lg fa-facebook"></i></span></a></li>
      <h6 class="display-6 navbar-text">&copy; Copyright February 2021. All Rights reserved.</h6>
    </nav>
  </footer>