/* File Name : app.css
    Student Name : Devanshi Shah
    Student Id   : 301175169
    Date         : 13 -02 -2021 */

/* custom css goes here*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}*
.max-width{
    max-width: 800px;
    padding: 0 -80px;
    margin: auto;
}


body{
    background-color: black;
    color: rgb(226, 8, 172), 31, 31;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home{
    display: grid;
    height: 100vh;
    color: cornsilk;
    min-height: 40px;
    font-family: 'Ubuntu',sans-serif;
}
.home-content{
    color: burlywood;
    font-size: large;
    text-shadow: 2px 2px #240101;
    
}
.home .max-width{
    margin: auto 0 40px;
}
.home .home-content .text-1{
    font-size:60px;
    margin: 5px 0;
    color: crimson;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
.home .home-content .text-2{
    font-size: 55px;
    margin: 5px 0;
    color:lightsalmon
}
.home .home-content .text-3{
    font-size:65px;
    font-weight: 600;
    margin-left: -3px;  
    color: rgba(196, 62, 17, 0.795);
    text-shadow: 2px 2px #0303038e
}
.home .home-content .text-4{
    font-style: italic;
    color: rgb(189, 17, 132);
    margin-left: -3px;
    
}
.home_img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
    
}
.btn-1{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    background-color:blanchedalmond;
    color: var(--skin color);
    background-color: ghostwhite;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block;

}
.effect-wrap .effect{
    position: absolute;
    z-index: -1;
}
.effect-1{
    width: 30px;
    height: 30px;
    border: 4px solid #8a49ff;
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
}
.effect-2{
    left: 3%;
    bottom: 20%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-in-out infinite;
}
.effect-2 div{
    height: 3px;
    width: 3px;
    background-color: #ff9c07;
    margin: 0 3px 8px;
}
.effect-3{
     border-top:30px solid transparent;
     border-left:30px solid #06d79c;
     left: 30%;
     top:20%;
     animation: spin 15s linear infinite;
}
.mission{
    font-size: 20px;
    font-weight: 500;
    background-color:black;
    margin-top: 0 3px 8px;
    margin-bottom: 0 3px 8px;
    border-bottom: whitesmoke;
}
/*.effect-4:border{
    content: '';
    border-top:30px solid transparent;
    border-left:30px solid #06d79c;
    position:absolute;
    opacity: 0.5;
    left: -25px;
    top: 40px;

}*/
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    }
@keyframes topBounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(25px);
    }
} 
/************about me***********/
.about-section{
    padding: 80px 0 80px;
    min-height: 100vh;
}
.section-title{
    padding: 0 15px;
    flex:0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
.section-title h2{
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    margin:0;
}
.section-title h2:before{
    content: attr(data-heading);
    display:block;
    font-size: 16px;
    font-weight: 600;
    color: purple
}
.about-section{
    padding: 80px 0 80px;
    min-height: 100vh;
}
.about-section .about-img{
    flex:0 0 40%;
    max-width: 40%;
    padding:0 15px;
}
.about-section .about-img .img-box{
    padding: 15px;
}
.about-section .about-img .img-box{
    width: 100%;
    border:10px solid transparent;
    border-radius: 5px;
}
.about-section .about-info{
    flex:0 0 60%;
    max-width: 60%;
    padding:0 15px;
}
.about-section .about-info p{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 17px;
    color:purple;
}
.about-section .about-info span{
    font-weight: 800;
}
.about-section .about-info .btn-1{
    margin: 30px 20px 0 0;
    color: violet;
}
.about-section .about-img .social-links{
    margin-top: 20px;
    text-align: center;
}
.about-section .about-img .social-links a{
    display: inline-block;
    height: 35px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 45px;
    color: blueviolet;
    border-radius: 50%;
    margin: 0 4px;
    transition: all 0.3s ease;
}
.about-section .about-img .social-links a::after{
    border-radius: 50%;
}
.about-section .other-links .btn-1{
    margin: 30px 20px 0 0;
    color: violet;

}
body {
    background: #eee
}

.ratings i {
    color: green
}

.install span {
    font-size: 12px
}

.col-md-4 {
    margin-top: 27px
}
.contactme{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: #112d42;
}
.contactme::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: hotpink
}
.contactme .container{
    position: relative;
    min-height: 1100px;
    min-width: 550px;
    display: flex;
    z-index: 1000;
}
.contactme .container .contactinfo{
    position: absolute;
    top: 40px;
    width:350px;
    height: calc(100% - 80px);
    background: #be14b6;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
.contactme .container .contactinfo h2{
    color : #fff;
    font-size: 24px;
    font-weight: 500;
}
.contactme .container .contactinfo .info{
    position: relative;
    margin: 20px 0;

}
.contactme .container .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.contactme .container .contactinfo .info li span:nth-child()
{
    width: 30px;
    min-width: 30px;

}
.contactme .container .contactinfo .info li span:nth-child()
{
    max-width: 100%;
    filter:invert(1);
    opacity: 0.5;
}



/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
